*~
*.po
autom4te.cache
*.in
*/.deps/*
m4/*
swig/*
*.swp
*.patch
*.diff
aclocal.m4
config.*
configure
depcomp
install-sh
compile
main
ltmain.sh
missing
mkinstalldirs
libtool
*Makefile
py-compile
stamp-h1
*/.DS_Store
*/.libs
*/*.o
*/*.a
*/*.la
*/*.lo
*/idevicerestore
*/idevicerestore.exe
.DS_Store
